// Colors
// -----------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/

$color-nero: #181818;
$color-grey: #787878;
$color-nobel: #a0a0a0;
$color-charcoal: #454545;
$color-white-smoke: #f5f5f5;
$color-whisper: #e7e7e7;
$color-bahia: #9cc91c;
$color-citrus: #94c017;
$color-ivory: #f5f5f4;
$color-turbo: #ffcf24;

// Typography
// -----------------------------------

$ff-manrope: "Manrope", "Arial", sans-serif;
$ff-pt-sans-caption: "PT Sans Caption", "Arial", sans-serif;
