// Colors
// -----------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;

// Project palette
// для нейминга цветов используется https://www.htmlcsscolor.com/

$color-nero: #181818;
$color-grey: #787878;

// Typography
// -----------------------------------

$ff-manrope: "Manrope", "Arial", sans-serif;
$ff-pt-sans-caption: "PT Sans Caption", "Arial", sans-serif;
